<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Login</title>
</head>
<body>
        <div class="form-box">
            <div class="form-value">
                <form action="/Dashboard/dashboard.html">
                    <h2>Arne's <br> Virtuelle Verden</h2>

                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="username" optional>
                        <label for="">Brukernavn</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" optional>
                        <label for="">Passord</label>
                    </div>
                    <button type="submit">Logg inn</button>
                </form>
            </div>
        </div>
</body>

</html>